<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/card.css" type="text/css">
    <link rel="stylesheet" href="/css/product.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <title><%= name %></title>
    <meta name="title" content="Calyx Flowers KE | Flowers |<%= name %>">
    <meta name="description" content="Get fresh <%= name %> delivered to you.">

    <meta name="twitter:card" content="summary_large_image">  
    <meta name="twitter:title" content="Calyx Flowers KE | Flowers |<%= name %>"> 
    <meta name="twitter:description" content="Get fresh <%= name %> delivered to you."> 
    <meta name="twitter:image" content="https://calyxflowerske.com/images/<%= image %>">

    <meta property="og:url" content="https://calyxflowerske.com/product/<%= name %>"> 
    <meta property="og:title" content="Calyx Flowers KE | Flowers |<%= name %>"> 
    <meta property="og:description" content="Get fresh <%= name %> delivered to you."> 
    <meta property="og:image" content="https://calyxflowerske.com/images/<%= image %>">  
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="1315715379825221">


</head>
<body>
    <header id="headerBody">
        <div id="topHeader">✔ Flower shop in Nairobi Kenya ✔ Order Before 6pm EAT for a same day delivery ✔ Delivery within 3 hours</div>
        <div id="desktopHeader">
            <img id="logo" src="/images/calyx logo version 5.png" alt="">

            <div class="headerIcons" id="deskHeaderIcon">
                <i class="bi bi-person-circle"></i>
                <a href="/cart"><i id="cartIcon" class="bi bi-cart4"></i></a>
                <i class="bi bi-list"></i>

                <div class="loginDropdown">
                    <a href="/login">Login</a>
                    <a href="">Subscriptions</a>
                    <a href="/admin/dashboard">Admin Dashboard</a>
                </div>
            </div>
        </div>
        <nav class="desktopNav">
            <div class="navItem">
                <button class="nav-button" id="byOccassion">By Occassion</button>
                <div class="dropdown-menu" id="byOccassionMenu">
                    <a href="/category/Birthday" class="link" data-product="birthday">Birthdays</a>
                    <a href="/category/Congratulation" class="link" data-product="congratulation" >Congratulation</a>
                    <a href="/category/Love and Romance" class="link" data-product="love" >love and Romance</a>
                    <a href="/category/Thank You" class="link" data-product="thankYou" >Thank You</a>
                    <a href="/category/For Him" class="link" data-product="forHim" >For Him</a>                
                    <a href="/category/Valentines" class="link" data-product="valentines" >Valentines</a>
                    <a href="/category/Mother's Day" class="link" data-product="mothersDay" >Mother's Day</a>
                    <a href="/category/Get Well" class="link" data-product="getWell" >Get well</a>
                    <a href="/category/Funeral" class="link" data-product="funeral" >Funeral</a>
                </div>
            </div>
            <div class="navItem">
                <button class="nav-button" id="byEvents">Events</button>
                <div class="dropdown-menu" id="byEventsMenu">
                    <a href="">Birthdays</a>
                    <a href="">Congratulation</a>
                    <a href="">love and Romance</a>
                    <a href="">Thank You</a>
                    <a href="">For Him</a>                
                    <a href="">Valentines</a>
                    <a href="">Mother's Day</a>
                    <a href="">Get well</a>
                    <a href="">Funeral</a>
                </div>
            </div>
    
            <div class="navItem">
                <button class="nav-button" id="giftHampers">Gift Hampers</button>
                <div class="dropdown-menu" id="giftHampersMenu">
                    <a href="">For Her</a>
                    <a href="">For Him</a>
                    <a href="">Bestie</a>
                    <a href="">Baby Shower</a>
                    <a href="">Bridal Shower</a>                
                </div>
            </div>
            
            <div class="navItem">
                <button class="nav-button" id="byPrice">By Price</button>
                <div class="dropdown-menu" id="byPriceMenu">
                    <a href="">For Her</a>
                    <a href="">For Him</a>               
                </div>
            </div>
    
            <div class="navItem">
                <button class="nav-button" id="byType">By Type</button>
                <div class="dropdown-menu" id="byTypeMenu">
                    <a href="">For Her</a>
                    <a href="">For Him</a>               
                </div>
            </div>
    
            <div class="navItem">
                <button class="nav-button" id="Subscriptions">Subscriptions</button>
                <div class="dropdown-menu" id="subscriptionMenu">
                    <a href="">For Her</a>
                    <a href="">For Him</a>               
                </div>
            </div>
        </nav>
    </header>

    <h1 class="title" >Product</h1>
    <section id="productContent">
        <div id="imgSection">
            <img class="productImageMain" src="/images/<%= image %>"alt="">
            <div id="imgCollection">
                <div id="images" style="display: none;"><%= images %></div>    
            </div>
        </div>
        <div class="productInfo">
            <h2 class="productNameMain"><%= name %></h2>
            <p class="productDescMain">
                <%= description %>
            </p>
            <h2 class="productPriceMain"><%= price %></h2>
            <div style="display: flex;align-items: center;" >
                <div class="icons">
                    <i class="bi bi-whatsapp"></i>
                </div>
                <a style="color: inherit;" href="whatsapp://send?text=Check out this awesome product from Calyx flowers: <%= name %>. You can find it here https://calyxflowerske.com/product/<%= name %>"  data-action="share/whatsapp/share">
                  Whatsapp</a>
            </div>
            <div style="display: flex;align-items: center;" >
                <div class="icons">
                    <i class="bi bi-facebook"></i>
                </div>
                <a style="color: inherit;" href="https://www.facebook.com/sharer.sharer.php?u=https://calyxflowerske.com/product/<%= name %>" target="_blank">
                    Facebook
                  </a>
            </div>
            <div style="display: flex;align-items: center;" >
                <div class="icons"><i class="bi bi-twitter-x"></i></div>
                <a style="color: inherit;" href="https://twitter.com/intent/tweet?text=Check out this awesome product from Calyx flowers: <%= name %>. You can find it here https://calyxflowerske.com/product/<%= name %> " target="_blank">
                    Twitter
                  </a>
            </div>
            <div class="btnDiv">
                <button class="CTOs" id="continueBtn"><a href="/">Continue shopping</a></button>
                <button class="CTOs" id="cartBtn" value="<%=item %>"> Add to cart</button>
            </div>
        </div>
    </section>
    <div class="line"></div>
    <h1 class="title">Goes well with...</h1>
    <section id="addOnsSection">
    </section>
    <footer id="footer">
        <div id="mainFooter" style="width: 100%;display: flex;justify-content: space-around;">
          <div id="footerLogo" ></div>
          <div class="footerNavs">
              By Occassion
              <div class="footerDropdown">
                  <a class="footerLists" href="">Birthdays</a>
                  <a class="footerLists" href="">Congratulation</a>
                  <a class="footerLists" href="">love and Romance</a>
                  <a class="footerLists" href="">Thank You</a>
                  <a class="footerLists" href="">For Him</a>                
                  <a class="footerLists" href="">Valentines</a>
                  <a class="footerLists" href="">Mother's Day</a>
                  <a class="footerLists" href="">Get well</a>
                  <a class="footerLists" href="">Funeral</a>
              </div>
          </div>
          <div class="footerNavs">
              Events
              <div class="footerDropdown">
                  <a class="footerLists" href="">Backdrop</a>
                  <a class="footerLists" href="">Flower arrangement</a>
                  <a class="footerLists" href="">Room decoration</a>
              </div>
          </div>
          <div class="footerNavs">
              Gift Hampers
              <div class="footerDropdown">
                  <a class="footerLists" href="">For Her</a>
                  <a class="footerLists" href="">For Him</a>
                  <a class="footerLists" href="">Bestie</a>
                  <a class="footerLists" href="">Baby Shower</a>
              </div>
          </div>
          <div class="footerNavs">By Price</div>
          <div class="footerNavs">By Price</div>
      </div>
      <div id="lowerFooter"><p>Designed and developed by <a href="https://wa.me/+254769819306?text=Hi,%20I%20saw%20your%20website%20and%20have%20a%20question"> webGuy</a></p> </div>
      </footer>
      <script  src="/js/header.js"></script>
      <script type="module" src="/js/product.js"></script>
      <script>
            let productImageMain = document.getElementsByClassName('productImageMain').item(0)
            let imgCollection = document.getElementById('imgCollection')
            let otherImgDiv = document.getElementById('otherImgDiv')
            let images = document.getElementById('images').innerText && []
            images.forEach((image)=>{
                imgCollection.innerHTML+=`
                <img class="otherImg" src="/images/${image}" alt="">
                `
            })
            let otherImg = document.querySelectorAll('.otherImg')
            otherImg.forEach((image)=>{
                image.addEventListener('click',()=>{
                    let src =image.getAttribute('src')
                    productImageMain.setAttribute('src',src)
                    otherImg.forEach((otherImage) => {
                    otherImage.style.borderColor = 'transparent';
                    });
                    image.style.borderColor = 'green'
                })
            })
      </script>
</body>
</html>